.emoji[src="/assets/15eb2b4336a23cbbfb2c7f65983674ca.svg"] {      /* AC */
    content: url(https://blobs.s-ul.eu/KHwuZ5MF.svg);
}
.emoji[src="/assets/3c4b934ef4f5946945565c90236fd0fd.svg"] {      /* AF */
  content: url(https://blobs.s-ul.eu/tF8It5P9.svg);
}
.emoji[src="/assets/2f0edb2adbf57b52c544b19d6a91d65d.svg"] {      /* AL */
  content: url(https://blobs.s-ul.eu/vazs1ey1.svg);
}
.emoji[src="/assets/f2099b7cb97462412803953c0b01332f.svg"] {      /* DZ */
  content: url(https://blobs.s-ul.eu/tyLtoPPO.svg);
}
.emoji[src="/assets/3f23733001b581f991045d7291133509.svg"] {      /* AD */
  content: url(https://blobs.s-ul.eu/HIRbbOKj.svg);
}
.emoji[src="/assets/29fd528b0715dff4581d750d450253f2.svg"] {      /* AO */
  content: url(https://blobs.s-ul.eu/JzttSKLv.svg);
}
.emoji[src="/assets/04fd4e2ef09ca386b46d09ea17ca6db9.svg"] {      /* AI */
  content: url(https://blobs.s-ul.eu/aZpW5sxy.svg);
}
.emoji[src="/assets/4ccc37c261c2e2d826b64fa9ce3dadf8.svg"] {      /* AG */
  content: url(https://blobs.s-ul.eu/47HMdwdV.svg);
}
.emoji[src="/assets/07a1c54d94b121d2766944c4ef3b5e69.svg"] {      /* AR */
  content: url(https://blobs.s-ul.eu/arFEAfh2.svg);
}
.emoji[src="/assets/afbffb7c24c3fbd62eed6347ec82e31c.svg"] {      /* AM */
  content: url(https://blobs.s-ul.eu/MX6tqn8F.svg);
}
.emoji[src="/assets/b48f39cb189ba3712796dc24dc626e4d.svg"] {      /* AW */
  content: url(https://blobs.s-ul.eu/fmpAHi3L.svg);
}
.emoji[src="/assets/0b8323ad8d6947ab2b5b874d8c12866d.svg"] {      /* AU */
  content: url(https://blobs.s-ul.eu/zwto7yNE.png);
}
.emoji[src="/assets/6627a630cfc1a9673158ed0d459ed0b7.svg"] {      /* AT */
  content: url(https://blobs.s-ul.eu/S9T5w3u9.svg);
}
.emoji[src="/assets/8db08f31f1918f1bc6295ebe255f5520.svg"] {      /* AZ */
  content: url(https://blobs.s-ul.eu/siVXJuSF.svg);
}
.emoji[src="/assets/1b30231e4bde33e074de5871d51497f7.svg"] {      /* BS */
  content: url(https://blobs.s-ul.eu/uBAv5vKj.svg);
}
.emoji[src="/assets/6797c37fc1cd62176211eb4aad06e8b6.svg"] {      /* BH */
  content: url(https://blobs.s-ul.eu/HJPlwHX0.svg);
}
.emoji[src="/assets/0c1b838cd2f467f5292126544358506e.svg"] {      /* BD */
  content: url(https://blobs.s-ul.eu/ulNdh5kg.svg);
}
.emoji[src="/assets/2ea248c3dce94632b8b1d31d81aa768d.svg"] {      /* BB */
  content: url(https://blobs.s-ul.eu/mPK682k6.svg);
}
.emoji[src="/assets/7ec13c049fe433a08fdc9545baec200e.svg"] {      /* BY */
  content: url(https://blobs.s-ul.eu/bVlsjhMf.svg);
}
.emoji[src="/assets/703ed1cd4728c61677efc3239745dfa0.svg"] {      /* BE */
  content: url(https://blobs.s-ul.eu/xKiSEHCQ.png);
}
.emoji[src="/assets/3cad4f8ee9dcbc15976920a33dc44ddc.svg"] {      /* BZ */
  content: url(https://blobs.s-ul.eu/B0OeWayD.svg);
}
.emoji[src="/assets/184022bedf637f627695ac4eb6764725.svg"] {      /* BJ */
  content: url(https://blobs.s-ul.eu/mFJCPiCn.svg);
}
.emoji[src="/assets/19696347beb6c16e5a9d751085d948c5.svg"] {      /* BM */
  content: url(https://blobs.s-ul.eu/37tFhlWf.svg);
}
.emoji[src="/assets/8b328c672b6f834102fe49fbfa6591d9.svg"] {      /* BT */
  content: url(https://blobs.s-ul.eu/zclgHLVm.svg);
}
.emoji[src="/assets/9216e2d5d9f0cf3ddb610e0dd9f098a7.svg"] {      /* BO */
  content: url(https://blobs.s-ul.eu/7szPBBqM.svg);
}
.emoji[src="/assets/5f8852008dba7fe14a901637f559183a.svg"] {      /* BA */
  content: url(https://blobs.s-ul.eu/7zwxcpWv.svg);
}
.emoji[src="/assets/d2c729f672dd737a22e7f3e403d41e71.svg"] {      /* BW */
  content: url(https://blobs.s-ul.eu/eg666mGa.svg);
}
.emoji[src="/assets/5e0529582f11d6d30e74ed3a28ac486e.svg"] {      /* BR */
  content: url(https://blobs.s-ul.eu/Wy6wHEPc.svg);
}
.emoji[src="/assets/1e677b5cb2c717643a41f4b7155f09c9.svg"] {      /* BN */
  content: url(https://blobs.s-ul.eu/ppeTXG3t.svg);
}
.emoji[src="/assets/1943b537414d2f03962fef04ef156678.svg"] {      /* BG */
  content: url(https://blobs.s-ul.eu/TcJ1Msbs.svg);
}
.emoji[src="/assets/ade4b25a1fd9a5965358a7e11a39af96.svg"] {      /* BF */
  content: url(https://blobs.s-ul.eu/aQuy8wI0.svg);
}
.emoji[src="/assets/e054e26599b7b9fa70e4c713f3611c5c.svg"] {      /* BI */
  content: url(https://blobs.s-ul.eu/SKUixC6u.svg);
}
.emoji[src="/assets/aa519db9517a6af12e3d81a3b37853ec.svg"] {      /* CV */
  content: url(https://blobs.s-ul.eu/Hi9bFLhZ.svg);
}
.emoji[src="/assets/dd42ccb05e4a3128ea58365f25986489.svg"] {      /* KH */
  content: url(https://blobs.s-ul.eu/11pHXtdh.svg);
}
.emoji[src="/assets/082992efec251eeb481db94bca05af5a.svg"] {      /* CA */
  content: url(https://blobs.s-ul.eu/XgmLmxxN.svg);
}
.emoji[src="/assets/368d5e397d1de213216faaba8ccf8fa5.svg"] {      /* KY */
  content: url(https://blobs.s-ul.eu/dIAv96RW.svg);
}
.emoji[src="/assets/0909810f3b137bee558f9af11bc9f07a.svg"] {      /* CM */
  content: url(https://blobs.s-ul.eu/fmPE3Zbt.svg);
}
.emoji[src="/assets/9d6bb2763a7da84ecc739d8d54a93e05.svg"] {      /* CF */
  content: url(https://blobs.s-ul.eu/vAtoJsTv.svg);
}
.emoji[src="/assets/1e3803f3e8dd845c0cf9c8d3fa6f3375.svg"] {      /* TD */
  content: url(https://blobs.s-ul.eu/dhTeaTVi.svg);
}
.emoji[src="/assets/0e1b3489b752297c26233895d554541e.svg"] {      /* CL */
  content: url(https://blobs.s-ul.eu/bmwAnnRR.svg);
}
.emoji[src="/assets/cf284aea8c5a88741efd4e128180366b.svg"] {      /* CN */
  content: url(https://blobs.s-ul.eu/k0fsuyxk.svg);
}
.emoji[src="/assets/983b6e88a2c114526b7325bdfb7b8d43.svg"] {      /* CO */
  content: url(https://blobs.s-ul.eu/Qyw9Wcec.svg);
}
.emoji[src="/assets/8dbf53dd594cfb7290b96f79cf237e53.svg"] {      /* KM */
  content: url(https://blobs.s-ul.eu/DCAVrik6.svg);
}
.emoji[src="/assets/6ff46fd914c993351e70852ec9f635b7.svg"] {      /* CG */
  content: url(https://blobs.s-ul.eu/QWumNmuJ.svg);
}
.emoji[src="/assets/d01f3e5eb2a09a4b067ed09788c07407.svg"] {      /* CD */
  content: url(https://blobs.s-ul.eu/gx85zSpI.svg);
}
.emoji[src="/assets/2fd4f1f724e48824f71bd5671adc410c.svg"] {      /* CR */
  content: url(https://blobs.s-ul.eu/rfPOhUF1.svg);
}
.emoji[src="/assets/7b6e8d1d68b9c8fd00689680300a2ed7.svg"] {      /* HR */
  content: url(https://blobs.s-ul.eu/kNjF8PRg.svg);
}
.emoji[src="/assets/8d883ec84bc443ae733ac0eb1f72ed91.svg"] {      /* CU */
  content: url(https://blobs.s-ul.eu/GiR9aP8i.svg);
}
.emoji[src="/assets/6d0147261ee596db0af9c04ccd93c8fc.svg"] {      /* CY */
  content: url(https://blobs.s-ul.eu/gmWDOFPJ.svg);
}
.emoji[src="/assets/42c8e75954826dd9cb589a6e17322f7a.svg"] {      /* CZ */
  content: url(https://blobs.s-ul.eu/GKYLyl93.svg);
}
.emoji[src="/assets/a002ff23dc7c7cb5be192a5e016e8574.svg"] {      /* DK */
  content: url(https://blobs.s-ul.eu/aSpZb1VV.svg);
}
.emoji[src="/assets/0dac5446771f2eca48da3bcaa813b85a.svg"] {      /* DJ */
  content: url(https://blobs.s-ul.eu/fATv9RaN.svg);
}
.emoji[src="/assets/be062c0379e4339e5bd787b328a273a4.svg"] {      /* DM */
  content: url(https://blobs.s-ul.eu/iU0HjZQ4.svg);
}
.emoji[src="/assets/313de0dadcef0e8da072cdfa249a3da1.svg"] {      /* DO */
  content: url(https://blobs.s-ul.eu/eeVHlune.svg);
}
.emoji[src="/assets/1e84dcfc334c0c9840816673d699acde.svg"] {      /* EC */
  content: url(https://blobs.s-ul.eu/mxkljd9B.svg);
}
.emoji[src="/assets/076c484e08095be7dbfef889a81ba45e.svg"] {      /* EG */
  content: url(https://blobs.s-ul.eu/cQV5Md4l.svg);
}
.emoji[src="/assets/0f75f1d6120f5d92faf8d14e88067344.svg"] {      /* SV */
  content: url(https://blobs.s-ul.eu/HMtGeWgB.svg);
}
.emoji[src="/assets/87fed7a84a8a487a554ab645afee1ef0.svg"] {      /* GQ */
  content: url(https://blobs.s-ul.eu/hpLrf7iW.svg);
}
.emoji[src="/assets/cb76ccc83f396058efd1c53f213ea9d0.svg"] {      /* ER */
  content: url(https://blobs.s-ul.eu/VcFfVi1W.svg);
}
.emoji[src="/assets/852828f0b5d3346065a03c47e040bb74.svg"] {      /* EE */
  content: url(https://blobs.s-ul.eu/AG5v1Rqr.svg);
}
.emoji[src="/assets/f1a0e3e8dcb19efa8d501b2b1880e72f.svg"] {      /* ET */
  content: url(https://blobs.s-ul.eu/Mfk99iIZ.svg);
}
.emoji[src="/assets/0051f09eb008cf1dd3eae339aa7e062c.svg"] {      /* FK */
  content: url(https://blobs.s-ul.eu/oeZQUS1a.svg);
}
.emoji[src="/assets/26bce1410ca4a7e9992c342cfb0e7164.svg"] {      /* FO */
  content: url(https://blobs.s-ul.eu/i13dSK5x.svg);
}
.emoji[src="/assets/d34cbf26429b4216976994d571785e4d.svg"] {      /* FJ */
  content: url(https://blobs.s-ul.eu/JI7Bhrs8.svg);
}
.emoji[src="/assets/3e544ea1ece2faef8549a45024d7737e.svg"] {      /* FI */
  content: url(https://blobs.s-ul.eu/xAKVY0Eu.svg);
}
.emoji[src="/assets/427c845111c8328fb785dbfe7052337e.svg"] {      /* FR */
  content: url(https://blobs.s-ul.eu/LXo15FI6.svg);
}
.emoji[src="/assets/d3926aeb79620af749bace296a835181.svg"] {      /* PF */
  content: url(https://blobs.s-ul.eu/TBSaNwA3.svg);
}
.emoji[src="/assets/6a8b400df911e6346e8b3d7274df2ed3.svg"] {      /* GA */
  content: url(https://blobs.s-ul.eu/KBfMnyfR.svg);
}
.emoji[src="/assets/7c43bf8fff165b3b4af2780babec28b3.svg"] {      /* GM */
  content: url(https://blobs.s-ul.eu/WlOXqqQA.png);
}
.emoji[src="/assets/423ee255525f029e9b6d840ba3925a16.svg"] {      /* GE */
  content: url(https://blobs.s-ul.eu/js1Dmwg1.svg);
}
.emoji[src="/assets/a9c94412aab983dee63f57bc2c096fae.svg"] {      /* DE */
  content: url(https://blobs.s-ul.eu/NigiTq5F.svg);
}
.emoji[src="/assets/2dc43fb96038e11f83127735165c6362.svg"] {      /* GH */
  content: url(https://blobs.s-ul.eu/vkeAMqcS.svg);
}
.emoji[src="/assets/c714a85da23812cca444b61f64307bd5.svg"] {      /* GI */
  content: url(https://blobs.s-ul.eu/uLveXizq.svg);
}
.emoji[src="/assets/97972f629a93e2a763b8c66053fe9f19.svg"] {      /* GR */
  content: url(https://blobs.s-ul.eu/qFHZVzIZ.svg);
}
.emoji[src="/assets/00c635d5b0b2f192e511df1250f86c56.svg"] {      /* GL */
  content: url(https://blobs.s-ul.eu/DjKj9Mon.svg);
}
.emoji[src="/assets/6ba3d4fe60567dfc22c4d86788ae8ffd.svg"] {      /* GD */
  content: url(https://blobs.s-ul.eu/0JKdu1Ia.svg);
}
.emoji[src="/assets/bb93c0e2fee7242d4c7eb88a6212e1af.svg"] {      /* GU */
  content: url(https://blobs.s-ul.eu/y61EGTCK.svg);
}
.emoji[src="/assets/da1a14794dd6bdf5a3f031f6d99cb9e8.svg"] {      /* GT */
  content: url(https://blobs.s-ul.eu/QEGaD3oT.svg);
}
.emoji[src="/assets/69e3edf67cd93d578edf6e652808fd4d.svg"] {      /* GN */
  content: url(https://blobs.s-ul.eu/dATaIhNk.svg);
}
.emoji[src="/assets/aa0c0b8e55c3e71302219218674aebe2.svg"] {      /* GW */
  content: url(https://blobs.s-ul.eu/TIbPef5U.svg);
}
.emoji[src="/assets/6d5c3c7789c95386efa74a4208f8d0a7.svg"] {      /* GY */
  content: url(https://blobs.s-ul.eu/4KloJiFW.svg);
}
.emoji[src="/assets/1ea6864800c30887d4c810aabcdfefb5.svg"] {      /* HT */
  content: url(https://blobs.s-ul.eu/C86XDASi.png);
}
.emoji[src="/assets/4272fd4245d4bcc7ccf2acea6898283e.svg"] {      /* HN */
  content: url(https://blobs.s-ul.eu/pOV4Hghf.svg);
}
.emoji[src="/assets/e8d65f351c02a7b42562e55b15a1e6d9.svg"] {      /* HK */
  content: url(https://blobs.s-ul.eu/hqjHVeBj.svg);
}
.emoji[src="/assets/f2a1ad637508714c905a69cd341894b4.svg"] {      /* HU */
  content: url(https://blobs.s-ul.eu/iVeMN9rX.png);
}
.emoji[src="/assets/381c5f7e98dee6eacb990fa47c4e805f.svg"] {      /* IS */
  content: url(https://blobs.s-ul.eu/dC05DK9C.svg);
}
.emoji[src="/assets/6eed577e184d922e97374184af656554.svg"] {      /* IN */
  content: url(https://blobs.s-ul.eu/Vw7JSGLU.png);
}
.emoji[src="/assets/af05083c3601e8866a67d7bbe93d771b.svg"] {      /* ID */
  content: url(https://blobs.s-ul.eu/YWFd9mbc.svg);
}
.emoji[src="/assets/d7ec8b8de889d90fe95deb2344bc69fa.svg"] {      /* IR */
  content: url(https://blobs.s-ul.eu/1Tw7AmH6.svg);
}
.emoji[src="/assets/24c4e5553b26421b478c3230feb5bec5.svg"] {      /* IQ */
  content: url(https://blobs.s-ul.eu/OxQxB6Rh.svg);
}
.emoji[src="/assets/57a60c047629ee6bd10d9f50952ecd03.svg"] {      /* IE */
  content: url(https://blobs.s-ul.eu/V9MHRXGS.png);
}
.emoji[src="/assets/6231ac51dbd0c0e5ebf4a558bc5daddd.svg"] {      /* IL */
  content: url(https://blobs.s-ul.eu/AKgQGjtx.svg);
}
.emoji[src="/assets/f740368e08d0e77f34546769b88d7ca6.svg"] {      /* IT */
  content: url(https://blobs.s-ul.eu/0JgGxEzH.svg);
}
.emoji[src="/assets/17c76e8ad081575408af5a96b16bb0e9.svg"] {      /* CI */
  content: url(https://blobs.s-ul.eu/p7KIAOD2.svg);
}
.emoji[src="/assets/bb175ca1caf96d4d5a1901983b94149e.svg"] {      /* JM */
  content: url(https://blobs.s-ul.eu/yuzefAZR.svg);
}
.emoji[src="/assets/bf5b3a6c0c677f13249b3b1c4142671d.svg"] {      /* JP */
  content: url(https://blobs.s-ul.eu/ZWc0C9pT.svg);
}
.emoji[src="/assets/8eb9e502ae4e7ecddab14030bab0b981.svg"] {      /* JE */
  content: url(https://blobs.s-ul.eu/gEGcYuNI.svg);
}
.emoji[src="/assets/4f35695731fa0160f3d318160ff3cfba.svg"] {      /* JO */
  content: url(https://blobs.s-ul.eu/QZQHmStp.svg);
}
.emoji[src="/assets/b52a60f33ef69fba800fa50bd2ea4135.svg"] {      /* KZ */
  content: url(https://blobs.s-ul.eu/pNAqipY0.svg);
}
.emoji[src="/assets/6c9cc28a0b24c4316e9283d154414fbc.svg"] {      /* KE */
  content: url(https://blobs.s-ul.eu/HQH9chK2.svg);
}
