.emoji[src="/assets/15eb2b4336a23cbbfb2c7f65983674ca.svg"] {      /* AC */
    content: url(https://blobs.s-ul.eu/KHwuZ5MF.svg);
}
.emoji[src="/assets/3c4b934ef4f5946945565c90236fd0fd.svg"] {      /* AF */
  content: url(https://blobs.s-ul.eu/tF8It5P9.svg);
}
.emoji[src="/assets/2f0edb2adbf57b52c544b19d6a91d65d.svg"] {      /* AL */
  content: url(https://blobs.s-ul.eu/vazs1ey1.svg);
}
.emoji[src="/assets/f2099b7cb97462412803953c0b01332f.svg"] {      /* DZ */
  content: url(https://blobs.s-ul.eu/tyLtoPPO.svg);
}
.emoji[src="/assets/3f23733001b581f991045d7291133509.svg"] {      /* AD */
  content: url(https://blobs.s-ul.eu/HIRbbOKj.svg);
}
.emoji[src="/assets/29fd528b0715dff4581d750d450253f2.svg"] {      /* AO */
  content: url(https://blobs.s-ul.eu/JzttSKLv.svg);
}
.emoji[src="/assets/04fd4e2ef09ca386b46d09ea17ca6db9.svg"] {      /* AI */
  content: url(https://blobs.s-ul.eu/aZpW5sxy.svg);
}
.emoji[src="/assets/4ccc37c261c2e2d826b64fa9ce3dadf8.svg"] {      /* AG */
  content: url(https://blobs.s-ul.eu/47HMdwdV.svg);
}
.emoji[src="/assets/07a1c54d94b121d2766944c4ef3b5e69.svg"] {      /* AR */
  content: url(https://blobs.s-ul.eu/arFEAfh2.svg);
}
.emoji[src="/assets/afbffb7c24c3fbd62eed6347ec82e31c.svg"] {      /* AM */
  content: url(https://blobs.s-ul.eu/MX6tqn8F.svg);
}
.emoji[src="/assets/b48f39cb189ba3712796dc24dc626e4d.svg"] {      /* AW */
  content: url(https://blobs.s-ul.eu/fmpAHi3L.svg);
}
.emoji[src="/assets/0b8323ad8d6947ab2b5b874d8c12866d.svg"] {      /* AU */
  content: url(https://blobs.s-ul.eu/PVmVzqKT.svg);
}
.emoji[src="/assets/6627a630cfc1a9673158ed0d459ed0b7.svg"] {      /* AT */
  content: url(https://blobs.s-ul.eu/S9T5w3u9.svg);
}
.emoji[src="/assets/8db08f31f1918f1bc6295ebe255f5520.svg"] {      /* AZ */
  content: url(https://blobs.s-ul.eu/siVXJuSF.svg);
}
.emoji[src="/assets/1b30231e4bde33e074de5871d51497f7.svg"] {      /* BS */
  content: url(https://blobs.s-ul.eu/uBAv5vKj.svg);
}
.emoji[src="/assets/6797c37fc1cd62176211eb4aad06e8b6.svg"] {      /* BH */
  content: url(https://blobs.s-ul.eu/HJPlwHX0.svg);
}
.emoji[src="/assets/0c1b838cd2f467f5292126544358506e.svg"] {      /* BD */
  content: url(https://blobs.s-ul.eu/ulNdh5kg.svg);
}
.emoji[src="/assets/2ea248c3dce94632b8b1d31d81aa768d.svg"] {      /* BB */
  content: url(https://blobs.s-ul.eu/mPK682k6.svg);
}
.emoji[src="/assets/7ec13c049fe433a08fdc9545baec200e.svg"] {      /* BY */
  content: url(https://blobs.s-ul.eu/bVlsjhMf.svg);
}
.emoji[src="/assets/703ed1cd4728c61677efc3239745dfa0.svg"] {      /* BE */
  content: url(https://blobs.s-ul.eu/dZuoQ0MH.svg);
}
.emoji[src="/assets/3cad4f8ee9dcbc15976920a33dc44ddc.svg"] {      /* BZ */
  content: url(https://blobs.s-ul.eu/B0OeWayD.svg);
}
.emoji[src="/assets/184022bedf637f627695ac4eb6764725.svg"] {      /* BJ */
  content: url(https://blobs.s-ul.eu/mFJCPiCn.svg);
}
.emoji[src="/assets/19696347beb6c16e5a9d751085d948c5.svg"] {      /* BM */
  content: url(https://blobs.s-ul.eu/37tFhlWf.svg);
}
.emoji[src="/assets/8b328c672b6f834102fe49fbfa6591d9.svg"] {      /* BT */
  content: url(https://blobs.s-ul.eu/zclgHLVm.svg);
}
.emoji[src="/assets/9216e2d5d9f0cf3ddb610e0dd9f098a7.svg"] {      /* BO */
  content: url(https://blobs.s-ul.eu/7szPBBqM.svg);
}
.emoji[src="/assets/5f8852008dba7fe14a901637f559183a.svg"] {      /* BA */
  content: url(https://blobs.s-ul.eu/7zwxcpWv.svg);
}
.emoji[src="/assets/d2c729f672dd737a22e7f3e403d41e71.svg"] {      /* BW */
  content: url(https://blobs.s-ul.eu/eg666mGa.svg);
}
.emoji[src="/assets/5e0529582f11d6d30e74ed3a28ac486e.svg"] {      /* BR */
  content: url(https://blobs.s-ul.eu/Wy6wHEPc.svg);
}
.emoji[src="/assets/1e677b5cb2c717643a41f4b7155f09c9.svg"] {      /* BN */
  content: url(https://blobs.s-ul.eu/ppeTXG3t.svg);
}
.emoji[src="/assets/1943b537414d2f03962fef04ef156678.svg"] {      /* BG */
  content: url(https://blobs.s-ul.eu/TcJ1Msbs.svg);
}
.emoji[src="/assets/ade4b25a1fd9a5965358a7e11a39af96.svg"] {      /* BF */
  content: url(https://blobs.s-ul.eu/aQuy8wI0.svg);
}
.emoji[src="/assets/e054e26599b7b9fa70e4c713f3611c5c.svg"] {      /* BI */
  content: url(https://blobs.s-ul.eu/SKUixC6u.svg);
}
.emoji[src="/assets/aa519db9517a6af12e3d81a3b37853ec.svg"] {      /* CV */
  content: url(https://blobs.s-ul.eu/Hi9bFLhZ.svg);
}
.emoji[src="/assets/dd42ccb05e4a3128ea58365f25986489.svg"] {      /* KH */
  content: url(https://blobs.s-ul.eu/11pHXtdh.svg);
}
.emoji[src="/assets/082992efec251eeb481db94bca05af5a.svg"] {      /* CA */
  content: url(https://blobs.s-ul.eu/XgmLmxxN.svg);
}
.emoji[src="/assets/368d5e397d1de213216faaba8ccf8fa5.svg"] {      /* KY */
  content: url(https://blobs.s-ul.eu/dIAv96RW.svg);
}
.emoji[src="/assets/0909810f3b137bee558f9af11bc9f07a.svg"] {      /* CM */
  content: url(https://blobs.s-ul.eu/fmPE3Zbt.svg);
}
.emoji[src="/assets/9d6bb2763a7da84ecc739d8d54a93e05.svg"] {      /* CF */
  content: url(https://blobs.s-ul.eu/vAtoJsTv.svg);
}
.emoji[src="/assets/1e3803f3e8dd845c0cf9c8d3fa6f3375.svg"] {      /* TD */
  content: url(https://blobs.s-ul.eu/dhTeaTVi.svg);
}
.emoji[src="/assets/0e1b3489b752297c26233895d554541e.svg"] {      /* CL */
  content: url(https://blobs.s-ul.eu/bmwAnnRR.svg);
}
